# The Postgres database to connect to
DATABASE_URL=postgres://postgres:postgres@127.0.0.1:9427/postgres

# The Redis store to connect to
REDIS_URL=redis://127.0.0.1:9428

# JWT authentication configuration
ISSUER_URL=https://login.wafflehacks.org/
JWKS_URL=https://login.wafflehacks.org/.well-known/jwks.json
